/*image proprieties*/
/*-----------------*/
.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.animate-5{
	-webkit-transition: max-height 1s ease-in-out;
	-moz-transition: max-height 1s ease-in-out;
	-ms-transition: max-height 1s ease-in-out;
	-o-transition: max-height 1s ease-in-out;
	transition: max-height 1s ease-in-out;
	overflow-y: hidden;
}

.image{
	position: relative;
}

.image .thumbnail{
	padding: 1px;
}

.wrapper-content{
	padding-bottom: 20px;
}

/*divide image*/
.divide-image{
	position: absolute;
	border-top: 1px solid #ccc;
	margin: 0 10px;
	height: 30px;
	width: 91%;
	left: -1px;
	bottom: 22px;
	opacity: 0;
	background-color: rgba(100, 100, 100, 0.5);
	z-index: 1;
}

.image:hover .divide-image{
	opacity: 1;
}

.divide-image.active{
	opacity: 1;
}
/*Edit btn*/
.edit-btn{
	position: absolute;
	left: 15px;
	bottom: 25px;
	opacity: 0;
	z-index: 2;
}

.image:hover .edit-btn{
	opacity: 1;
	color: #d9d9d9;
}

/*Download btn*/
.download-btn{
	position: absolute;
	left: 40px;
	bottom: 25px;
	opacity: 0;
	z-index: 2;
}

.image:hover .download-btn{
	opacity: 1;
	color: #d9d9d9;
}

/*Delete btn*/
.delete-btn{
	position: absolute;
	right: 15px;
	bottom: 15px;
	opacity: 0;
	z-index: 2;
}

.delete-btn button{
	border: none;
	background: none;
}

.image:hover .delete-btn{
	opacity: 1;
	color: #d9d9d9;
}

.delete-btn.active{
	opacity: 1;
	color: #d9d9d9;
}

/*Stars*/


/* Bootstrap col */
.cols.gapping-xs{padding-left: 5px; padding-right: 5px}
.cols.gapping-sm{padding-left: 7px; padding-right: 7px}
.cols.gapping-md{padding-left: 10px; padding-right: 10px}

/*
|--------------------------------------------------------------------------
| Home
|--------------------------------------------------------------------------
*/
.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.background.header1{
	background: url('../images/headers/header1.jpg') fixed top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: all  0.5s ease-in-out;
	-moz-transition: all  0.5s ease-in-out;
	-o-transition: all  0.5s ease-in-out;
	transition: all  0.5s ease-in-out;
}

.img-resp{
	max-width: 100%;
	height: auto;
}

/*
|---------------------------------------------------------------
| Main Content
|---------------------------------------------------------------
*/
.main{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position: relative;
	width: 100%;
	padding-left: 330px;
}

.main.extended{
	padding-left: 60px;
}

.main .wrapper{
	max-width: 1100px;
}

.content-title .title{
	font-size: 30px;
	padding: 15px;
	margin: 0;
	border-left: 10px solid #faa95a;
	border-bottom: 1px solid #eee;
}

.content-box{
	padding: 25px;
}

/*
|---------------------------------------------------------------
| Header
|---------------------------------------------------------------
*/
.header{
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	margin-bottom: 20px;
}

.header .address{
	font-size: 12px;
}

.header .phone{
	font-size: 32px;
}

.header .availability{
	padding: 25px 10px 10px 10px;
	background: #FFF;
}

/*
|---------------------------------------------------------------
| Sidebar
|---------------------------------------------------------------
*/
.sidebar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position: fixed;
	width: 300px;
	z-index: 2;
	top: 0;
	left: 0;
	overflow: auto;
	height: 100%;
	padding-left: 60px;
	padding-right: 60px;
}

.sidebar.opened{
	background: #F5F6F8;
	opacity: .96;
}

.sidebar .sidebar-close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	color: #faa95a;
	padding: 11px 0;
}

.sidebar .sidebar-close:hover{
	color: #bc764f;
}

.sidebar .sidebar-open{
	position: absolute;
	right: 0;
	top: 0;
	display: none;
	cursor: pointer;
	width: 60px;
	height: 60px;
	background: #FFF;
	text-align: center;
	padding: 10px 16px 16px 16px;
	font-size: 8px;
	color: #faa95a;
}

.sidebar .sidebar-open .glyphicon{
	font-size: 24px;
}

.sidebar .sidebar-logo{
	margin-top: 70px;
	margin-bottom: 60px;
	text-align: center;
}

.sidebar-content .nav.nav-sidebar li{
	border-top: 1px dotted #a6a6a6;
	font-size: 12px;
}

.sidebar-content .nav.nav-sidebar li a{
	-webkit-transition: text-indent 0.3s ease-in-out;
	-moz-transition: text-indent 0.3s ease-in-out;
	-o-transition: text-indent 0.3s ease-in-out;
	transition: text-indent 0.3s ease-in-out;
	color: #757575;
	padding: 15px 15px;
}

.sidebar-content .nav.nav-sidebar li.active a{
	-webkit-transition: text-indent 0.3s ease-in-out;
	-moz-transition: text-indent 0.3s ease-in-out;
	-o-transition: text-indent 0.3s ease-in-out;
	transition: text-indent 0.3s ease-in-out;
	text-indent: 10px;
	color: #000;
}

.sidebar-content .nav.nav-sidebar li a:hover{
	-webkit-transition: text-indent 0.3s ease-in-out;
	-moz-transition: text-indent 0.3s ease-in-out;
	-o-transition: text-indent 0.3s ease-in-out;
	transition: text-indent 0.3s ease-in-out;
	text-indent:10px;
	color: #000;
}

.sidebar-content .nav.nav-sidebar li a:hover::before{
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	height: 24px;
	width: 3px;
	background: #faa95a;
}

.sidebar-content .nav.nav-sidebar li.active a::before{
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 3px;
	height:24px;
	background: #faa95a;
	z-index: 5;
}

/*
|--------------------------------------------------------------------------
| Testimoniale
|--------------------------------------------------------------------------
*/
.bg-white.border-top{
	border-top: 1px solid #faa95a;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
.footer{
	color: #FFF;
	margin-bottom: 180px;
}

/*
|--------------------------------------------------------------------------
| Icons
|--------------------------------------------------------------------------
*/
.icon-quotes{
	height: 30px;
}

.icon-facebook, .icon-instagram{
	height: 30px;
}

/*
|--------------------------------------------------------------------------
| Strength Password
|--------------------------------------------------------------------------
*/
.relative{position: relative;}
.hide{display: none;}
.col-rating-default{
	width: 100%;
	height: 5px;
	background-color: #ccc;
	z-index: 1;
}
.col-rating-1{
	position: absolute;
	width: 10%;
	height: 5px;
	background-color: #ff0000;
	z-index: 2;
}
.col-rating-2{
	position: absolute;
	width: 20%;
	height: 5px;
	background-color: #ff0000;
	z-index: 2;
}

.col-rating-3{
	position: absolute;
	width: 30%;
	height: 5px;
	background-color: #ff9652;
	z-index: 2;
}
.col-rating-4{
	position: absolute;
	width: 40%;
	height: 5px;
	background-color: #ff9652;
	z-index: 2;
}
.col-rating-5{
	position: absolute;
	width: 50%;
	height: 5px;
	background-color: #ffe250;
	z-index: 2;
}
.col-rating-6{
	position: absolute;
	width: 60%;
	height: 5px;
	background-color: #ffe250;
	z-index: 2;
}
.col-rating-7{
	position: absolute;
	width: 70%;
	height: 5px;
	background-color: #a8ff45;
	z-index: 2;
}
.col-rating-8{
	position: absolute;
	width: 80%;
	height: 5px;
	background-color: #a8ff45;
	z-index: 2;
}
.col-rating-9{
	position: absolute;
	width: 90%;
	height: 5px;
	background-color: #5bd844;
	z-index: 2;
}

.col-rating-10{
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #19b974;
	z-index: 2;
}


/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/
.text-normal{
	font-weight: normal;
}

/* Text Colors */
.text-white{color:#FFF;}
.text-black{color:#000;}
.text-orange{color:#faa95a}

/* Link Colors */
a.text-white{color:#FFF;}
a.text-black{color:#000;}

/* Background Colors */
.bg-white{background-color: #FFF;}
.bg-white-9{background-color: rgba(255, 255, 255, 0.9)}
.bg-black{background-color: #000;}

/*
|--------------------------------------------------------------------------
| Margins
|--------------------------------------------------------------------------
*/
.mb-20{	margin-bottom: 20px;}
.mt-20{	margin-top: 20px;}
.ml-20{	margin-left: 20px;}
.mr-20{	margin-right: 20px;}
.mb-10{	margin-bottom: 10px;}
.mt-10{	margin-top: 10px;}


/*
|--------------------------------------------------------------------------
| Padding
|--------------------------------------------------------------------------
*/
.p-0{padding: 0}

/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/

.btn.btn-orange{
	background-color: #faa95a;
	color: #FFF;
	border-radius: 0;
}

.btn.btn-orange:hover{
	background-color: #ffb536;
	color: #FFF;
}

/*
|--------------------------------------------------------------------------
| Responsive
|--------------------------------------------------------------------------
*/
/* Min Width */
@media only screen and (min-width: 1920px){
	.background.header1{
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media only screen and (min-width: 1100px){
	.main .wrapper{
		max-width: 1000px;
	}
}

/* Max Width */
@media only screen and (max-width: 1360px){
	.main{
		padding-left: 230px;
	}

	.sidebar{
		padding-left: 10px;
		padding-right: 10px;
		width: 200px;
	}

	.sidebar-content .nav.nav-sidebar li{
		font-size: 9px;
	}

}

@media only screen and (max-width: 992px){
	.col-md-2.p-0.text-right{
		text-align: left;
	}
}

@media only screen and (max-width: 992px){
	.address{text-align: center}
	.phone{text-align: center}
	.icon-information{text-align: center}
}

/*Blog*/
.section{
	height: 100px;
}

/*Imping meniul prin intermediul lui btn-blog*/
.blog-menu{
	position: relative;
	height: 60px;
	width: 100px;
	float: right;
	margin: 20px 0;
	background: #ccc;
}

.btn-blog{
	padding: 17px 0;
	position: relative;
	cursor: pointer;
}

.blog-title{
	font-size: 16px;
	color: #000;
	display: inline;
	padding-right: 40px;
	margin-top: 10px;
}

.bar1, .bar2, .bar3{
	width: 25px;
	height: 4px;
	background: #000;
	margin: 5px 0;
	display: block;
}

.blog-bars{
	position: absolute;
	right: 5px;
	top: 13px;
}

.menu-wrapper{
	position: absolute;
	top: 60px;
	background: #ccc;
	color: #000;
	width: 100%;
	max-height: 500px;
}

.menu-wrapper ul{
	list-style-type: none;
}

.menu-wrapper ul li a{
	text-decoration: none;
	color: #000;
}

.menu-wrapper.change{
	max-height: 0;
}

.bar1.change{
	-webkit-transform: rotate(-45deg) translate(-6px, 4px) ;
	transform: rotate(-45deg) translate(-6px, 4px) ;
}

.bar2.change{
	display: none;
}

.bar3.change{
	-webkit-transform: rotate(45deg) translate(-2px, 0) ;
	transform: rotate(45deg) translate(-2px, 0) ;
}

.blog-menu.change{
	width: 100%;
}